---
const { label, active } = Astro.props;
---
<a class="block whitespace-nowrap px-5 py-2 rounded-full inactive text-lg " href="/">
    {label}
</a>

<style lang="postcss">
    .active {
        @apply bg-main text-white;
    }

    .inactive {
        @apply text-[#6B0026] border-2 border-[#6B0026];
    }
</style>