---
const { label } = Astro.props;
---


<a class="px-4 py-2 rounded-full inactive" href="/">
    {label}
</a>

<style lang="postcss">
    .active {
        @apply bg-main text-white;
    }

    .inactive {
        @apply bg-main/20;
    }
</style>