---
import MenuButton from "./MenuButton.astro"
---
<div class="px-6 flex gap-2">
    <MenuButton label="Briose"/>
    <MenuButton label="Mini Briose"/>
    <MenuButton label="Torturi"/>
    <MenuButton label="Cozonaci"/>
</div>