---
import MenuButton from "./MenuButton.astro"
---
<div class="flex overflow-x-auto gap-2 w-full px-6 no-scrollbar">
    <MenuButton active= {true} label="Meniu"/>
    <MenuButton active= {true}label="Briose"/>
    <MenuButton label="Mini Briose"/>
    <MenuButton label="Torturi"/>
    <MenuButton label="Cozonaci"/>
    <MenuButton label="Torturi"/>
    <MenuButton label="Cozonaci"/>

</div>