---
import MenuButton from "./MenuButton.astro"
---
<div class="px-6 flex gap-2 overflow-x-auto hide-scroll-bar">
    <MenuButton label="Briose"/>
    <MenuButton label="Mini"/>
    <MenuButton label="Torturi"/>
    <MenuButton label="Cozonaci"/>
    <MenuButton label="Briose"/>
    <MenuButton label="Briose"/>
    <MenuButton label="Briose"/>
    <MenuButton label="Briose"/>
    <MenuButton label="Briose"/>
    <MenuButton label="Briose"/>
</div>