---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/Navigation/NavigationBar.astro";
import CardCarousel from "../components/cardSection/CardCarousel.astro"
import Card from "../components/cardSection/Card.astro";
---

<Layout>
	<section class="">
		<NavigationBar />
	</section>
	<div class="flex flex-col gap-6">


	<section class="px-6 my-8">
		<h2 class="hero">
			Brioșe si torturi artizanale: delicii personalizate pentru gustul tău.</h2>
	</section>
	<section>
		<div class="px-6 flex justify-between items-baseline">
			<h2 class=" mb-4 text-[#6B0026]">Briose</h2>
			
		</div>

		<div class="flex overflow-x-auto gap-3 w-full px-6 no-scrollbar">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<div class="flex flex-none w-40 h-60 bg-main border-2 border-black/20 rounded-xl overflow-hidden items-center"> 
				<p class="px-2 leading-none font-medium text-center w-full text-xl text-white">Vezi toate Briosele</p>
			</div>
		</div>
	</section>
	<section>
		<div class="px-6 flex justify-between items-baseline">
			<h2 class=" mb-4 text-[#6B0026]">Mini Briose</h2>
			<a href="">Vezi mai multe</a>
		</div>

		<div class="flex overflow-x-auto gap-3 w-full px-6 no-scrollbar">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</div>
	</section>
	<section>
		<div class="px-6 flex justify-between items-baseline">
			<h2 class=" mb-4 text-[#6B0026]">Torturi</h2>
			<a href="">Vezi mai multe</a>
		</div>
		<div class="flex overflow-x-auto gap-3 w-full px-6 no-scrollbar">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</div>
	</section>
	<section>
		<div class="px-6 flex justify-between items-baseline">
			<h2 class=" mb-4 text-[#6B0026]">Cozonaci</h2>
			<a href="">Vezi mai multe</a>
		</div>
		<div class="flex overflow-x-auto gap-3 w-full px-6 no-scrollbar">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</div>
	</section>
	</div>
</Layout>