---
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<section>Navigatie cu tag'uri</section>
	<section>Introducere</section>
	<section>Briose</section>
	<section>Torturi</section>
	<section>Cozonaci</section>
</Layout>