---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/Navigation/NavigationBar.astro";
import CardCarousel from "../components/cardSection/CardCarousel.astro"
---

<Layout>
	<section class="">
		<NavigationBar />
	</section>
	<section class="px-6 my-8">
		<h2 class="hero">
			Brioșe si torturi artizanale: delicii personalizate pentru gustul tău.</h2>
	</section>
	<section>
		<h2 class="px-6">Briose</h2>
		<CardCarousel/>
	</section>
	<section>
		<h2 class="px-6">Torturi</h2>
	</section>
	<section>
		<h2 class="px-6">Cozonaci</h2>
	</section>
</Layout>