---

const headerLogo = "assets/logo/briocherie_icon.svg"

---
<header class="px-6 py-6 flex justify-between">
    <a href="/" class="font-bold text-xl"><img src={headerLogo}/></a>

    <button>Cos</button>
</header>

